@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, DASHBOARD</h1>
    
</div>
@Html.ActionLink("Show Students", "GetStudents", "Student")
@Html.TextBox("menu");

